<%= render  "posts/new" %>
<h1>Post Feed</h1>
<% @posts.each do |p| %>
 <strong><%= current_user.name %></strong> <br>
  <p><%= p.content %></p>
  <% if current_user == p.user %>
    <small>
      <%= link_to 'Edit', edit_post_path(p) %>
     <%=  link_to 'Delete', post_path(p), method: :delete %>
    </small>
  <% end %>
<%end%>