<h3>Post Feeds</h3>

<%= form_for(@post) do |f| %>
  <%= f.label :content, 'Create a post' %><br/>
  <%= f.text_area :content %>
  <%= f.submit 'Post' %>
<% end %>
<% if @posts.empty? %>
  <h4>You don't have any posts yet!</h4>
<% else  %>
  <div>
    <% @posts.each do |post| %>
      <small><%= link_to "#{post.user.name}", post_path(post.user) %></small><br>
      <%= post.content %><br>
      <%= link_to post_likes_path(post), class: "text-light", method: :post do %>
        <% if liked_post?(post, 'post') %>
          <button class="btn btn-warning">Unlike?</button>
        <% else %>
          <button class="btn btn-primary">Like?</button>
          <%end%>
      <% if current_user == post.user %>
        <small><%= link_to 'Edit', edit_post_path(post) %></small>
        <small><%= link_to 'Delete', post_path(post), method: :delete %></small><br><br>
      <% end %><% end %><br><br>

      <div id='comment_div'>
        <% post.comments.each do |comment| %>
          <small><%= link_to "#{comment.user.name}", post_path(comment.user) %>:</small>
          <small><%= comment.content %></small><br>
          <%= link_to 'Like', comment_likes_path(comment), method: :post %>
          <small><%= comment.likes.count %> <%= (comment.likes.count) == 1 ? 'Like' : 'Likes'%></small>
          <% if current_user == comment.user %>
            <small><%= link_to 'Edit', edit_comment_path(comment) %></small>
            <small><%= link_to 'Delete', comment_path(comment), method: :delete %></small><br><br>
          <% end %>
        <% end  %>
      </div><br>

      <%= form_for(@comment) do |f| %>
        <%= f.hidden_field :post_id, value: post.id  %>
        <%= f.text_field :content %>
        <%= f.submit 'Comment' %>
      <% end  %><br>
      
    <% end %>
  </div>

<% end %>