<%= render 'posts/new' %>
<% if @posts.empty? %>
  <h4>You dont have any posts yet!</h4>
<% else  %>
  <div>
    <% @posts.each do |post| %>
      <br />
      <strong><%= link_to "#{post.user.name}", post_path(post.user) %></strong><br>
      <%= post.content %><br> 
      <p></p>
      <%= link_to post_likes_path(post), method: :post do%>
          <button class="btn btn-warning">Unlike </button>
          <button class="btn btn-success">Like  <%= post.likes.count %></button>
      <%end%>
      <br />

      <h5><strong>Comments</strong></h5>
      <div id='comment_div'>
        <% post.comments.each do |comment| %>
          <small><%= link_to "#{comment.user.name}", post_path(comment.user) %>:</small>
          <small><%= comment.content %></small><br>
          <%= link_to 'Like', comment_likes_path(comment), method: :post %>
          <% if current_user == comment.user %>
            <small><%= link_to 'Edit', edit_comment_path(comment) %></small>
            <small><%= link_to 'Delete', comment_path(comment), method: :delete %></small><br><br>
          <% end %>
        <% end  %>
      </div>
      <p></p>

      <%= form_for(@comment) do |f| %>
        <%= f.hidden_field :post_id, value: post.id  %>
        <%= f.text_area :content %>
        <%= f.submit 'Comment' %>
      <% end  %>
      
    <% end %>
  </div>

<% end %>